.navbar-custom {
  background-color: rgb(18, 18, 18);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

body{
  background-image: url(img2.jpg);
  width: 100%;
}

.container{
  height: 5vh;
  display: grid;
  place-items: center;
}

.typing-text{
  white-space: nowrap;
  overflow: hidden;    
  font-family: 'serif';  
  font-size: 38px;
  color: white;
  animation: animated-text 1.5s steps(30,end);
}

.product-container {
background-color: rgba(0, 0, 0, 0.5);
padding: 10px 15px;
border-radius: 8px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
width: 300px;
text-align: center;
margin: auto;
}

.product-container h2 {
margin-bottom: 20px;
color: white;
}

.input-group {
margin-bottom: 15px;
text-align: left;
}

.input-group label {
display: block;
margin-bottom: 5px;
color: #555;
}

.input-group input {
width: 100%;
padding: 8px 10px;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
}

button {
width: 100%;
padding: 10px 15px;
border: none;
border-radius: 4px;
background-color: wheat;
color: #fff;
font-size: 16px;
cursor: pointer;
}

button:hover {
background-color: orange;
}

@keyframes animated-text{
  from{width: 0px;}
  to{width: 472px;}
}

.fade-in-text{
  font-family: serif;
  font-size: 25px;
  text-align: center;
  color: white;
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
} 

@-webkit-keyframes fadeIn{
  0% {opacity: 0; }
  100% {opacity: 1; }
}

@-o-keyframes fadeIn{
  0% {opacity: 0; }
  100%{opacity: 1; }
}

@-ms-keyframes fadeIn{
  0% {opacity:0; }
  100% {opacity:1; }
}


.product-container {
  text-align: center;
}

.input-box {
  background-color: wheat;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 250px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.submit-button {
  background-color: wheat;
  border: 1px solid #ccc;
  padding: 1px 2px;
  border-radius: 15px;
  cursor: pointer;
  width: 150px;
}

.submit-button:hover {
  background-color: orange;
}


.card{
  width: 18rem;
  height: 20rem;
  position: relative;
  margin-left: 25%;
  margin-top: 5%;
}
