html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.carousel, .carousel-inner, .carousel-item {
  height: 100%;
}

.carousel-item img {
  object-fit: cover;
  height: 100vh;
}

/* Content container */
.content-container {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: bold;
  color: white;
  z-index: 2;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  text-align: left;
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
}

/* Typing text animation */
.typing-text {
  font-size: 2rem;
  font-family: 'Courier New', Courier, monospace;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid black;
  color: black;
  width: 0;
  animation: typing 4s steps(40, end) 1s 1 normal both, blink-caret .5s step-end infinite;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: white; }
}

.fade-in-text{
  font-family: serif;
  font-size: 25px;
  text-align: center;
  color: black;
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
} 

@-webkit-keyframes fadeIn{
  0% {opacity: 0; }
  100% {opacity: 1; }
}

@-o-keyframes fadeIn{
  0% {opacity: 0; }
  100%{opacity: 1; }
}

@-ms-keyframes fadeIn{
  0% {opacity:0; }
  100% {opacity:1; }
}


/* Form input group */
.input-group {
  margin-top: 20px;
  width: 80%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

/* Navbar customization */
.navbar {
  z-index: 1;
  position: fixed;
  width: 100%;
}

.carousel-item {
  transition: transform 2s ease, opacity 2s ease;
}
